[user]
	name = "Benjamin Heng"
	email = "benjamin.heng@thecarousell.com"
[pager]
	diff = diff-so-fancy | less
[alias]
    fix-conflicts = !git diff --name-only | uniq | xargs nvim
    logfzf = !gitfzflog
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.carou.sl:"]
	insteadOf = https://gitlab.carou.sl/
