snippet rule "Create a new rule" b
WHEN RULE $1
  WHERE $2
  WITH REASON "$3"
  ROLLOUT TO 0%
BLOCK ACTION
PENDING "$4" TO SessionActor;
endsnippet

snippet ratelimited "Rate limit function" i
rateLimited(
  BY SessionActor MAX $1 EVERY $2
)
endsnippet
