#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Benjamin Heng"
email = "benjamin.heng@thecarousell.com"

[aliases]
# Pull up the nearest bookmarks to the working-copy parent. Seen in `jj b m --help`
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
resolve-conflicts = ["resolve", "--tool", "diffconflicts"]
log-conflicts = ["log", "-r", "conflicts()"]

[ui]
diff-formatter = "delta"
default-command = "log"
pager="less -FRX" # F = quit if content can be displayed on one screen, R = support ansi color codes, R = disable termcap init/deinit strings

[merge-tools]
delta.diff-expected-exit-codes = [0, 1] # prevents a warning when displaying diffs using delta

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true # For explanation of this config, see https://docs.jj-vcs.dev/v0.28.2/config/

# Don't use a pager for `jj status`
[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"
