[Desktop Entry]
Categories=Utility;
Exec=rofi -show calc -modi calc -no-show-match -no-sort -normal-window
Name=Qalc
GenericName=Calculator
Type=Application
