[Desktop Entry]
Categories=Multimedia;
Comment[en_US]=Small, fast and powerful console music player
Comment=Small, fast and powerful console music player
Exec=sh -c 'alacritty --class "cmus" --title "cmus" --config-file "/home/ben/.config/alacritty/cmus_config.yml" --command "cmus"'
GenericName[en_US]=cmus
GenericName=cmus
Icon=goodvibes
MimeType=
Name[en_US]=cmus
Name=cmus
Path=
StartupNotify=true
StartupWMClass=cmus
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
