[Desktop Entry]
Categories=Development;
Comment=Personal knowledge base
Exec=sh -c 'alacritty --class "knowledge-base" --title "knowledge-base" --config-file "/home/ben/.config/alacritty/kb_config.yml" --command "/home/ben/dev/go/bin/kb"'
GenericName=kb
Icon=alacritty
MimeType=
Name=kb
Path=
StartupWMClass=knowledge-base
Type=Application
