[Desktop Entry]
Categories=Game;
Exec=/home/ben/apps/tetrio-desktop-8.0.0/tetrio-desktop
Icon=/home/ben/.local/share/icons/tetrio.svg
Name=TETR.IO
StartupNotify=true
Type=Application
