[Desktop Entry]
Type=Application
TryExec=ghostty
Exec=ghostty -e tmux new-session -A -s default
Icon=Ghostty
Terminal=false
Categories=System;TerminalEmulator;

Name=Terminal
GenericName=Terminal
Comment=Alias to Ghostty. Launches tmux on start.
StartupWMClass=Ghostty
Actions=New;

X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=Terminal (tmux)
Exec=ghostty -e tmux new-session -A -s default
