snippet img "Image with hyperlink" b
[![$1]($2)]($2)
endsnippet

snippet hugotodo "Hugo shortcode for a TODO block" b
{{% todo %}}$1{{% /todo %}}
endsnippet

snippet hugofigure "Hugo shortcode for an <figure> element" b
{{< figure src="$1" link="$1" caption="$2" >}}
endsnippet
